@import url(fonts.css);

body {
  margin: 0;
  font-family:  morabba  !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-farsi {
  direction: rtl;
}

.left-num {
  direction: ltr;
}

code {
  font-family:  morabba  !important;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

/* Neon Blink Animation */
@keyframes blinkNeon { 
    0%, 25%, 50%, 75%, 100% {
    text-shadow: 
      0 0 5px #0ff,
      0 0 25px #0ff,
      0 0 50px #0ff;
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    text-shadow: none;
    opacity: 0.3;
  }
}

.animate-blinkNeon {
  animation: blinkNeon 2s infinite;
}

/* Floating Shapes */
.shape {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0.15;
  animation: float 10s infinite linear;
}
.shape1 { top: 10%; left: 20%; animation-delay: 0s; }
.shape2 { top: 50%; left: 70%; animation-delay: 2s; }
.shape3 { top: 30%; left: 40%; animation-delay: 4s; }
.shape4 { top: 70%; left: 10%; animation-delay: 6s; }

@keyframes float {
  0% { transform: translateY(0) translateX(0) rotate(0deg); }
  50% { transform: translateY(-40px) translateX(20px) rotate(45deg); }
  100% { transform: translateY(0) translateX(0) rotate(0deg); }
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

.bg-loop-color {
  color: #eb5e28;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

